* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {

    
    body {
        width: 100%;
        height: auto;
    }

    header {
        width: 100%;
        height: 10vh;
        border: #000000 solid 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: antiquewhite;
        padding-left: 5vh;
    }

    nav {
        width: 50%;
        height: 100%;
        display: none;
    }

    .contactanos-boton {
        width: 100%;
        height: 6vh;
        background-color: #000000;
        border-radius: 5%;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;        
    }

    main {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    .main-inicio {
        width: 100%;
        
    }
    
    .main-inicio p {
        text-align: center;
        margin-top: 5vh;
        font-size: 19px;
        color: #858585;
    }

    .main-inicio h1 {
        text-align: center;
        font-size: 56px;
        font-weight: 400px;
        margin-bottom: 5vh;
        
    }

    .main-inicio-botones {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-inicio-boton {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-inicio-boton-negro {
        margin: 0;
        padding: 1vh 5vh;
        background-color: #000000;
        border: none;
        border-radius: 10%;
        display: inline-block;
    }

    .main-inicio-boton-negro a {
        text-decoration: none;
        color: #ffffff;
    }

    .main-inicio-boton-blanco{
        margin: 0;
        padding: 1vh 5vh;
        background-color: #ffffff;
        border: #000000 solid 2px;
        border-radius: 10%;
        display: inline-block;
    }

    .main-inicio-boton-blanco a {
        text-decoration: none;
        color: #000000;
    }

    .main-inicio-imagen {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .main-inicio-img  {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-inicio-img img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-inicio-iconos {
        display: none;
    
    }


    .main-articulo {
        width: 100%;
        height: auto;
        background-image: url(../img/fondo-1-mobil.jpg);
  
    }

    .main-articulo-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-articulo-header {
        width: 100%;

    }

    .main-articulo-imagen {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-articulo-imagen img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-articulo h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 400px;
        color: #000000;
    }

    .main-articulo-body {
        width: 100%;
    }

    .main-articulo-body h1 {
        font-size: 24px;
        font-weight: 400px;
        text-align: justify;
        margin: 2vh 0 2vh 0;
        color: #ffffff;
        text-align: center;
    }

    .main-articulo-body p {
        font-size: 16px;
        color: #ffffff;
        text-align: center;
    }

    .main-articulo-body-valoracion {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-articulo-body-estrellas {
        margin: 1vh;
    }

    .container-boton {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }


    .main-articulo-boton {
        margin: 5vh 0 0 0;
        padding: 2vh 10vh;
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        
    }

    .main-articulo-boton a {
        text-decoration: none;
        color:#ffffff;
    }

    .main-tienda {
        width: 100%;
        height: auto;
        background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%); 
    }

    .main-tienda button {
        padding: 2vh 10vh;
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        display: inline-block;
        
    }

    .main-tienda a {
        text-decoration: none;
        color: #ffffff;
    }

    .main-tienda-boton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-tienda h1 {
        font-size: 32px;
        font-weight: 400px;
        text-align: center;
        padding: 5vh 0vh 5vh 0vh;  
    }

    .main-tienda-cajas {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
    }

    .main-tienda-caja {
        width: 80vw;
        background-color: #ffffff;
        border-radius: 10%;
        box-shadow: 5px 10px 8px #888888;
        margin-bottom: 10vh;  
    }

    .main-tienda-caja-img {
        width: 100%;
        height: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-tienda-caja-texto {
        width: 90%;
        height: 100%;
    }

    .main-tienda-caja-texto h2 {
        font-size: 16px;
        font-weight: 400px;
        text-align: justify;
        margin: 10vh 0 0 3vh;

    }

    .main-tienda-caja-texto p {
        font-size: 12px;
        text-align: justify;
        margin: 5vh 0 0 3vh;
    }

    .main-tienda-precio { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4vh 1vh 4vh 1vh;
    }

    .main-tienda-precio-caja {
        padding: 1vh 2vh;
        border: #000000 solid 1px;
        border-radius: 10%;
        
    }


    .main-tienda-precio button {
        margin: 0;
        padding: 6px 9px;
        background-color: #000000;
        border: none;
        border-radius: 10%;
        text-align: center;
        color: white;
        display: inline-block;
    }
    
}

@media screen and (min-width: 800px) {

    %centrar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    body {
        width: 100%;
        height: auto;
    }

    header {
        width: 100%;
        height: 10vh;
        border: #000000 solid 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: antiquewhite;
        padding-left: 5vh;
    }

    nav {
        width: 50%;
        height: 100%;
        @extend %centrar;
        background-color: beige;
    }

    nav ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav li {
        width: 100%;
        height: 100%;
        list-style: none;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        color: #000000;
    }

    .contactanos-boton {
        width: 100%;
        height: 6vh;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center; 
          
    }

    main {
        width: 100%;
        height: auto;
        
    }

    .main-inicio {
        width: 100%;

    }

    .main-inicio p {
        text-align: center;
        margin-top: 10vh;
        font-size: 19px;
        color: #858585;
    }

    .main-inicio h1 {
        text-align: center;
        font-size: 56px;
        font-weight: 400px;
        margin-top: 5vh;
        
    }

    .main-inicio-botones {
        width: 100%;
        @extend %centrar
    }

    .main-inicio-boton {
        margin: 5vh 0 0 5vh;
        width: 15%;
        @extend %centrar;
    }

    .main-inicio-boton-negro {
        margin: 0;
        padding: 6px 20px;
        background-color: #000000;
        border: none;
        border-radius: 10%;
        display: inline-block;
    }

    .main-inicio-boton-negro a {
        text-decoration: none;
        color: #ffffff;
    }

    .main-inicio-boton-blanco{
        margin: 0;
        padding: 6px 9px;
        background-color: #ffffff;
        border: #000000 solid 2px;
        border-radius: 10%;
        display: inline-block;
    }

    .main-inicio-imagen {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .main-inicio-img  {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-inicio-iconos {
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }

    .main-inicio-iconos img {
        width: 30%;
        height: 30%;
        padding: 5vh 0 0 0;
    }

    .main-inicio-boton-blanco a {
        text-decoration: none;
        color: #000000;
    }

    .main-articulo {
        width: 100%;
        height: 500px;
        background-image: url(../img/fondo-1-laptop.jpg);
        padding-top: 15vh;
    }

    .main-articulo-content {
        margin-left: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .main-articulo-header {
        width: 49%;
        order: 2;
    }

    .main-articulo-imagen {
        width: 100%;
        height: 100%;
        @extend %centrar;
    }

    .main-articulo h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 400px;
        color: #000000;
    }

    .main-articulo-body {
        width: 49%;
    }

    .main-articulo-body h1 {
        font-size: 24px;
        font-weight: 400px;
        text-align: justify;
        margin: 5vh 0 5vh 0;
        color: #ffffff;
    }

    .main-articulo-body p {
        font-size: 16px;
        color: #ffffff;
    }

    .main-articulo-body-valoracion {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .main-articulo-body-estrellas {
        margin: 1vh;
    }

    .main-articulo-boton {
        margin: 5vh 0 0 0;
        padding: 2vh 10vh;
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        display: inline-block;
    }

    .main-articulo-boton a {
        text-decoration: none;
        color:#ffffff;
    }

    .main-tienda {
        width: 100%;
        height: 700px;
        background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
     
    }

    .main-tienda button {
        margin: 10vh 0 0 0;
        padding: 2vh 10vh;
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        display: inline-block;
        
    }

    .main-tienda a {
        text-decoration: none;
        color: #ffffff;
    }

    .main-tienda-boton {
        @extend %centrar;

    }

    .main-tienda h1 {
        font-size: 32px;
        font-weight: 400px;
        text-align: center;
        padding: 5vh 0vh 5vh 0vh;
        
    }

    .main-tienda-cajas {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20vh;
    }
    .main-tienda-caja {
        width: 25vw;
        height: 40vh;
        background-color: #ffffff;
        border-radius: 10%;
        box-shadow: 5px 10px 8px #888888;
        position: relative;
        padding-top: 10vh;
        
        
    }

    .main-tienda-caja-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100px;
        right: -50px;
        z-index: 9;
    }

    .main-tienda-caja-texto {
        width: 90%;
    }

   
    

    .main-tienda-caja-texto h2 {
        font-size: 16px;
        font-weight: 400px;
        text-align: justify;
        margin: 10vh 0 0 3vh;

    }

    .main-tienda-caja-texto p {
        font-size: 12px;
        text-align: justify;
        margin: 5vh 0 0 3vh;
    }

    .main-tienda-precio { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4vh 1vh 4vh 1vh;
    }

    .main-tienda-precio-caja {
        padding: 1vh 2vh;
        border: #000000 solid 1px;
        border-radius: 10%;
        
    }


    .main-tienda-precio button {
        margin: 0;
        padding: 6px 9px;
        background-color: #000000;
        border: none;
        border-radius: 10%;
        color: white;
        display: inline-block;
    }

    
}