* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 800px) {

    %centrar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @mixin boton ($color, $back) {
        padding: 15vh 32vh;
        background-color: $back;
        color: $color;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
    }

    body {
        width: 100%;
        height: auto;
    }

    header {
        width: 100%;
        height: 10vh;
        border: #000000 solid 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: antiquewhite;
        padding-left: 5vh;
    }

    nav {
        width: 50%;
        height: 100%;
        @extend %centrar;
        background-color: beige;
    }

    nav ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav li {
        width: 100%;
        height: 100%;
        list-style: none;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        color: #000000;
    }

    .contactanos-boton {
        width: 100%;
        height: 6vh;
        background-color: #000000;
        border-radius: 5%;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;        
    }

    main {
        width: 100%;
        height: auto;
        background-color: azure;
    }

    .main-inicio {
        width: 100%;

    }

    .main-inicio p {
        text-align: center;
        margin-top: 10vh;
        font-size: 19px;
        color: #858585;
    }

    .main-inicio h1 {
        text-align: center;
        font-size: 56px;
        font-weight: 400px;
        margin-top: 5vh;
        
    }

    .main-inicio-botones {
        width: 100%;
        @extend %centrar
    }

    .main-inicio-boton {
        background-color: aqua;
        width: 15%;
        @extend %centrar;
    }

    .main-inicio-boton-negro button {
        @include boton(15vh, #ffffff, #000000);
    }
    
}