@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway";
}

@media screen and (max-width: 600px) {
  main .main-inicio .main-inicio-imagen .main-imagen-contenedor, main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton, main .main-inicio, nav ul li, nav, header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    width: 100%;
    height: 10vh;
  }
  .logo {
    width: 50%;
    height: 80%;
  }
  .logo img {
    width: 80%;
    height: 100%;
  }
  nav {
    width: 50%;
    height: 80%;
  }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  nav ul li {
    width: 50%;
    height: 100%;
  }
  nav ul li img {
    width: 46px;
  }
  nav ul .movil {
    display: none;
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  li {
    list-style: none;
  }
  main .main-inicio {
    flex-direction: column;
  }
  main .main-inicio h2 {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: rgb(109, 109, 109);
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 400;
  }
  main .main-inicio h1 {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 43px;
  }
  main .main-inicio .main-inicio-botones {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton {
    width: 44%;
    height: 50px;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button {
    width: 95%;
    height: 40px;
    border-radius: 9px;
    border: 1.5px solid black;
    background-color: rgb(255, 255, 255);
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button:hover {
    background-color: rgba(0, 0, 0, 0.701);
    border: none;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button:hover a {
    color: #fff;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton .main-inicio-boton-negro {
    background-color: #000;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton .main-inicio-boton-negro a {
    color: #fff;
  }
  main .main-inicio .main-inicio-imagen {
    display: flex;
    justify-content: center;
  }
  main .main-inicio .main-inicio-imagen .main-imagen-contenedor {
    margin-top: 20px;
    width: 100%;
  }
  main .main-inicio .main-inicio-imagen .main-imagen-contenedor img {
    width: 80%;
    height: 100%;
  }
  main .main-inicio .main-inicio-imagen .main-inicio-iconos {
    display: none;
  }
  .main-articulo {
    width: 100%;
    height: 600px;
    background-image: url(../img/fondo-1-mobil.jpg);
    padding-top: 5vh;
  }
  .main-articulo-imagen img {
    max-width: 100%;
    max-height: 100%;
  }
  .main-articulo h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 400px;
    color: #000000;
  }
  .main-articulo-body {
    width: 100%;
  }
  .main-articulo-body h1 {
    font-size: 24px;
    font-weight: 400px;
    text-align: justify;
    margin: 2vh 0 2vh 0;
    color: #ffffff;
    text-align: center;
  }
  .main-articulo-body p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
  }
  .main-articulo-body-valoracion {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-articulo-body-estrellas {
    margin: 1vh;
  }
  .container-boton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
  }
  .main-articulo-boton {
    margin: 5vh 0 0 0;
    padding: 2vh 10vh;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
  }
  .main-articulo-boton a {
    text-decoration: none;
    color: #ffffff;
  }
  .main-tienda {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
  }
  .main-tienda button {
    padding: 2vh 10vh;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    display: inline-block;
  }
  .main-tienda a {
    text-decoration: none;
    color: #ffffff;
  }
  .main-tienda-boton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-tienda h1 {
    font-size: 32px;
    font-weight: 400px;
    text-align: center;
    padding: 5vh 0vh 5vh 0vh;
  }
  .main-tienda-cajas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }
  .main-tienda-caja {
    width: 80vw;
    background-color: #ffffff;
    border-radius: 10%;
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 10vh;
  }
  .main-tienda-caja-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-tienda-caja-texto {
    width: 90%;
    height: 100%;
  }
  .main-tienda-caja-texto h2 {
    font-size: 16px;
    font-weight: 400px;
    text-align: justify;
    margin: 10vh 0 0 3vh;
  }
  .main-tienda-caja-texto p {
    font-size: 12px;
    text-align: justify;
    margin: 5vh 0 0 3vh;
  }
  .main-tienda-precio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4vh 1vh 4vh 1vh;
  }
  .main-tienda-precio-caja {
    padding: 1vh 2vh;
    border: #000000 solid 1px;
    border-radius: 10%;
  }
  .main-tienda-precio button {
    margin: 0;
    padding: 6px 9px;
    background-color: #000000;
    border: none;
    border-radius: 10%;
    text-align: center;
    color: white;
    display: inline-block;
  }
}
@media screen and (min-width: 800px) {
  .main-tienda-boton, .main-articulo-imagen, main .main-inicio .main-inicio-imagen .main-inicio-iconos .inicio-contenedor div, main .main-inicio .main-inicio-imagen .main-imagen-contenedor, main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton, main .main-inicio, nav ul li a, nav ul li, header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    width: 100%;
    height: 10vh;
  }
  .logo {
    width: 20%;
    height: 80%;
    padding: 0px 0px 0px 20px;
  }
  nav {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    width: 75%;
    display: flex;
    justify-content: flex-end;
  }
  nav ul li {
    width: 18%;
    align-items: center;
    height: 100%;
  }
  nav ul li a {
    width: 100%;
    height: 100%;
  }
  nav ul .estudiante {
    width: 30%;
  }
  nav ul .contacto-negro {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    height: 60%;
  }
  nav ul .contacto-negro:hover {
    background-color: rgba(83, 83, 83, 0.701);
  }
  nav ul .contacto-negro a {
    color: #fff;
  }
  nav a {
    text-decoration: none;
    color: black;
    font-size: 17px;
  }
  nav .contactanos {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    height: 100px;
    width: 100px;
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  li {
    list-style: none;
  }
  main .main-inicio {
    flex-direction: column;
  }
  main .main-inicio h2 {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: rgb(109, 109, 109);
  }
  main .main-inicio h1 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 60px;
  }
  main .main-inicio .main-inicio-botones {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton {
    width: 14%;
    height: 50px;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button {
    width: 95%;
    height: 37px;
    border-radius: 9px;
    background-color: #fff;
    border: 1.5px solid #000;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    width: 100%;
    height: 100%;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button:hover {
    background-color: rgba(0, 0, 0, 0.701);
    border: none;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton button:hover a {
    color: #fff;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton .main-inicio-boton-negro {
    background-color: #000;
  }
  main .main-inicio .main-inicio-botones .main-botones-contenedor .main-inicio-boton .main-inicio-boton-negro a {
    color: #fff;
  }
  main .main-inicio .main-inicio-imagen {
    display: flex;
    justify-content: center;
  }
  main .main-inicio .main-inicio-imagen .main-imagen-contenedor {
    width: 95%;
  }
  main .main-inicio .main-inicio-imagen .main-imagen-contenedor img {
    width: 90%;
  }
  main .main-inicio .main-inicio-imagen .main-inicio-iconos {
    width: 5%;
    display: flex;
    flex-direction: column;
  }
  main .main-inicio .main-inicio-imagen .main-inicio-iconos .inicio-contenedor {
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  main .main-inicio .main-inicio-imagen .main-inicio-iconos .inicio-contenedor div {
    width: 100%;
    height: 12%;
  }
  main .main-inicio .main-inicio-imagen .main-inicio-iconos .inicio-contenedor div img {
    height: 70%;
    width: 100%;
  }
  body {
    width: 100%;
    height: auto;
  }
  .main-articulo {
    width: 100%;
    height: 600px;
    background-image: url(../img/fondo-1-laptop.jpg);
    padding-top: 5vh;
  }
  .main-articulo-content {
    margin-left: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .main-articulo-header {
    width: 49%;
    order: 2;
  }
  .main-articulo-imagen {
    width: 100%;
    height: 100%;
  }
  .main-articulo h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 400px;
    color: #000000;
  }
  .main-articulo-body {
    width: 49%;
  }
  .main-articulo-body h1 {
    font-size: 24px;
    font-weight: 400px;
    text-align: justify;
    margin: 5vh 0 5vh 0;
    color: #ffffff;
  }
  .main-articulo-body p {
    font-size: 16px;
    color: #ffffff;
  }
  .main-articulo-body-valoracion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .main-articulo-body-estrellas {
    margin: 1vh;
  }
  .main-articulo-boton {
    margin: 5vh 0 0 0;
    padding: 2vh 10vh;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    display: inline-block;
  }
  .main-articulo-boton a {
    text-decoration: none;
    color: #ffffff;
  }
  .main-tienda {
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
  }
  .main-tienda button {
    margin: 10vh 0 0 0;
    padding: 2vh 10vh;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    display: inline-block;
  }
  .main-tienda a {
    text-decoration: none;
    color: #ffffff;
  }
  .main-tienda h1 {
    font-size: 32px;
    font-weight: 400px;
    text-align: center;
    padding: 5vh 0vh 5vh 0vh;
  }
  .main-tienda-cajas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20vh;
  }
  .main-tienda-caja {
    width: 25vw;
    height: 40vh;
    background-color: #ffffff;
    border-radius: 10%;
    box-shadow: 5px 10px 8px #888888;
    position: relative;
    padding-top: 10vh;
  }
  .main-tienda-caja-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100px;
    right: -50px;
    z-index: 9;
  }
  .main-tienda-caja-texto {
    width: 90%;
  }
  .main-tienda-caja-texto h2 {
    font-size: 16px;
    font-weight: 400px;
    text-align: justify;
    margin: 10vh 0 0 3vh;
  }
  .main-tienda-caja-texto p {
    font-size: 12px;
    text-align: justify;
    margin: 5vh 0 0 3vh;
  }
  .main-tienda-precio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4vh 1vh 4vh 1vh;
  }
  .main-tienda-precio-caja {
    padding: 1vh 2vh;
    border: #000000 solid 1px;
    border-radius: 10%;
  }
  .main-tienda-precio button {
    margin: 0;
    padding: 6px 9px;
    background-color: #000000;
    border: none;
    border-radius: 10%;
    color: white;
    display: inline-block;
  }
}/*# sourceMappingURL=style.css.map */